.typeWindows-1za-n7.withFrame-haYltI.titleBar-AC4pGV.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3 {
    line-height: 30px;
    align-items: center;
    height: 30px;
    top: 0px;
    margin-top: 0px;
}

.winButton-iRh8-Z {
    height: 30px;
    width: 46px;
    top: 0px;
}