.typeWindows__5fa63.withFrame__485f4.titleBar__01af6 {
    line-height: 30px;
    align-items: center;
    height: 30px;
    top: 0px;
    margin-top: 0px;
}

.typeWindows__5fa63.withFrame__485f4.titleBar__01af6 .winButton__88672 {
    height: 30px;
    width: 46px;
    top: 0px;
}